.album{
    margin-left: 50px;
    width: 342px;
}

.img-item{
    height: 110px;
    width: 110px;
}

.img-item:only-child{
    height: initial;  /*相当于删除已设置的某一属性*/
    width: initial;
    max-width: 230px;
    max-height: 230px;
}

.img-item:nth-child(2):nth-last-child(3){
    margin-right: 110px;
}

/*
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/taotie6/sampleJSON@main/css/photo_show.css">
<meta name="referrer" content="no-referrer" />

<div class="album">
    <img class="img-item" src="photo-url" />
</div>
*/
